.sl_callout {
	@extend .callout;
	margin: $spacing--sm 0 $spacing--xl auto;
	overflow: auto;
	clear: both;
	border: none;
	box-shadow: $shadow;
	padding: $spacing--lg;
	border-radius: $border-radius 0 $border-radius 0;

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
		margin: $spacing--md 0;
	}//end small down breakpoint


	&--large {
		background: none;
		box-shadow: none;
		padding: 0;
		border-radius: none;
		margin-bottom: $spacing--sm;

		& > p {
			font-size: 1.25rem;
		}//end & > p
	}//end &--large

	&--alert {
		background: none;
		box-shadow: none;
		padding: 0;
		border-radius: none;
		margin-bottom: $spacing--sm;

		& * {
			font-size: 1.25rem;
			font-weight: $font-weight--medium;
			color: get-color(alert)
		}//end & > p
	}//end &--alert

	&--primary {
		background-color: get-color(accent1);
	}//end &--primary

	&--inverse {

	}//end &--inverse

	&--border {
		background: none;
		border: 1px solid get-color(primary);
		box-shadow: none;
	}//end &--inverse

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--steps {
		background: none;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
		position: relative;
		overflow: initial;
		
		&:before {
			@include pseudo;
			background-color: get-color(primary);
			width: 2px;
			height: 100%;
			top: 0;
			left: 32px;

			@include breakpoint (small down) {
				display: none;
			}//end small down breakpoint
		}//end &:before;

		ol {
			counter-reset: my-awesome-counter;
			list-style: none;
			margin: 0;

			li {
				counter-increment: my-awesome-counter;
				position: relative;
				padding-left: $spacing--xxxl;

				@include breakpoint (small down) {
					padding-left: 0;
					padding-top: $spacing--xxxl;
				}//end small down breakpoint

				&:before {
					content: counter(my-awesome-counter);
					color: get-color(inverse);
					font-size: 2rem;
					font-weight: $font-weight--medium;
					position: absolute;
					width: 64px;
					height: 64px;
					top: -5px;
					left: 0;
					background: get-color(secondary);
					border-radius: 50%;
					text-align: center;
					border: 2px solid get-color(secondary);

					@include breakpoint (small down) {
						top: 0;
					}//end small down breakpoint
				}//end &:before
			}//end li
		}//end ol
	}//end &--steps
}//end .sl_callout
