.sl_row--shortcode {
	& > .sl_cell {
		padding: 0 $spacing--sm/2;
		
		@include breakpoint (medium only) {
			&.medium-12 {
				padding: 0;
			}//end & .medium-12
		}//end medium only breakpoint
		

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_cell

	&.justify-center {
			

			& > .sl_cell {
				display: flex;
			flex-direction: column;
			justify-content: center;
			}
		}//end & .justify-center

}//end .sl_row--shortcode

.page-template-template-formatting {
	.sl_cell {
		padding: 0 $spacing--sm/2;
		
		@include breakpoint (medium only) {
			&.medium-12 {
				padding: 0;
			}//end & .medium-12
		}//end medium only breakpoint
		

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_cell
}//end .sl_row--shortcode
	