.sl_tabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: none;
	background: none;
	margin-bottom: 0 !important;

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

	&__container {
		margin: $spacing--xl auto;
	}//end &__container

	&__title {
		float: none;
		display: flex;
		flex: 0 1 auto;
		text-align: center;
		margin-bottom: 0 !important;
		border: none;

		&:not(:last-of-type) {
			padding-right: $spacing--sm;

			@include breakpoint (small down) {
				padding-right: 0;
				margin-bottom: $spacing--xs !important;
			}//end small down breakpoint
		}//end &:not(:last-of-type)

		@include breakpoint (small down) {
			display: block;
			height: 100%;
			min-width: 0;
			vertical-align: middle;
		}//end small down breakpoint

		& > a {
			width: 100%;
			height: 100%;
			font-size: 1.25rem;
			color: get-color(primary);
			font-family: $body-font-family;
			font-weight: $font-weight--medium;
			padding: $spacing--xs $spacing--md;
			background-color: transparent;
			border: 2px solid get-color(primary) !important;
			border-radius: $border-radius--pill !important;
			@include transition (all .3s ease-in-out);

			&:hover {
				background-color: get-color(primary);
				color: get-color(inverse);
				@include transition (all .3s ease-in-out);
			}//end &:hover

			&:before {
				display: none;
			}//end &:before
		}//end & > a

		&:not(.is-active):hover {
			& > a {
			}//end & > a
		}//end &:not(.is-active:hover)

		&.is-active {
			
			& > a {
				color: get-color(inverse);
				font-weight: $font-weight--medium;
				background-color: get-color(primary);

				&:focus, &[aria-selected=true] {
					background-color: get-color(primary);
				}//end &:focus, &[aria-selected=true]
			}//end & > a
		}//end &.is-active
	}//end &__title

	.sl_tabs__title.is-active:only-child {
		& > a {
		}//end & > a
	}//end &.is-active

	&__content {
		background: none;
		color: get-color(default);
		border: none;
	}//end &__content

	&__panel {
		background: none;
		padding: $spacing--lg 0 0 0;
		border: none !important;
		text-align: left;

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__panel

	&.accordion {
		.sl_tabs__panel {
			padding: 0;
			padding-top: $spacing--sm;
		}
	}
}//end .sl_tabs
