/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Border Button
6. Simple Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
11. Back to Top Button
12. Video Button
13. Sticky Chat
14. Callout Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(secondary);
	border-radius: $border-radius--pill;
	font-size: rem-calc(21px);
	font-family: $header-font-family;
	font-weight: $font-weight--semibold;
	padding: $spacing--xs $spacing--md;

	&:hover {
		@include transition (all .2s ease-in-out);
		background-color: darken(get-color(secondary),5%);
	}//end &:hover

//2. Secondary Button 
	&--secondary {
		color: get-color(default);
		@include fancy-button;

		&:hover {
			color: get-color(default);

			&:before {
				background-color: darken(get-color(inverse), 5%);
				@include transition (all .2s ease-in-out);
			}//end &:after
		}//end &:hover

		&:focus {
			color: get-color(default);
			&:before {
				background-color: darken(get-color(inverse), 5%);
				@include transition (all .2s ease-in-out);
			}//end &:after
		}//end &:focus;
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		color: get-color(default);
		background-color: get-color(inverse);
		font-size: $font-size--regular;
		font-weight: $font-weight--regular;
		margin-bottom: 0;
		box-shadow: $shadow;
	}//end &--menu

//5. Border Button
	&--border {
		background: transparent;
		border: get-color(primary) 2px solid;
		color: get-color(primary);

		&:hover, &:focus {
			color: get-color(inverse);
			background: get-color(primary);
		}//end &:hover, &:focus;
	}//end &--border

	&--border-inverse {
		background: transparent;
		border: get-color(inverse) 2px solid;
		color: get-color(inverse);

		&:hover, &:focus {
			color: get-color(primary);
			background: get-color(inverse);
		}//end &:hover, &:focus;
	}//end &--border

//6. Simple Button
	&--simple {
		background: none;
		padding: 0;
		border-radius: none;
		color: get-color(secondary);
		font-size: 1.125rem;

		&:after {
			display: inline-block;
			margin-left: $spacing--xs/2;
			font-size: 1rem;
			@include fontawesome($content: '\f054');
			@include transition (all .2s ease-in-out);
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(primary);

			&:after {
				transform: translateX(4px);
				@include transition (all .2s ease-in-out);
			}//end &:after
		}//end &:hover, &:focus
	}//end &--simple

//7. Pagination Button
	&--pagination {
		background-color: get-color(primary);

		&:hover {
			background-color: get-color(accent3);
		}//end &:hover
	}//end &--pagination

//8. Social Buttons
	&--social {
		padding: 0;
		background: none;
		border-radius: 0;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		color: get-color(inverse);

		&:hover {
			background: none;
			color: get-color(accent1);
		}//end &:hover

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		// &.sl_facebook {background-color: #3B5998;}
		// &.sl_twitter {background-color: #1DA1F2;};
		// &.sl_youtube {background-color: #FF0000;};
		// &.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//9. Share Button
	&--share {
		
	}//end .sl_button--share

//10. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//11. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 10;
		bottom: $spacing--xs;
		right: $spacing--xs;
		padding: 0;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//12. Video Button
	&--video {
			background-color: get-color(inverse);
			border-radius: 50%;
			z-index: 1;
			height: 83px;
			width: 83px;
			position: relative;
			@include transition(all .3s ease-in-out);

			@include breakpoint (small down) {
				height: 70px;
				width: 70px;
				top: calc(50% - 35px);
			}//end small down breakpoint

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: url(#{$path-img}icon/play-icon.svg);
				background-repeat: no-repeat;
				background-size: 35px 35px;
				background-position: 60% center;

				@include breakpoint (small down) {
					background-size: 25px 25px;
				}//end small down breakpoint
			}//end &:before
	}//end &--video

//13. Sticky Chat Button
	&--stickychat {
		position: fixed;
		z-index: 10;
		bottom: $spacing--xs;
		right: $spacing--xs;
		padding: 0;
		width: 4.5rem;
		height: 4.5rem;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		background-color: get-color(inverse);
		color: get-color(secondary);
		box-shadow: $shadow;
		transform-origin: center center;
    	animation: pulse 5s ease-in-out 10s infinite;
    	animation-play-state: running;

    	&:hover, &:focus {
    		animation-play-state: paused;
    	}

    	@keyframes pulse {
		  0% {transform: scale(1);}
		  25% {transform: scale(1.1);}
		  50% {transform: scale(.95);}
		  75% {transform: scale(1.05);}
		  100% {transform: scale(1);}
		}//end slide-right keyframes

		@include breakpoint (small down) {
			animation: none;
			font-size: rem-calc(21px);
			width: 3.5rem;
			height: 3.5rem;
			bottom: 3.5rem + $spacing--md;
		}//end small down breakpoint
	}//end &--stickychat

//14. Callout Button
	&--callout {
		display: flex;
		width: 100%;
		background-color: get-color(accent1);
		color: get-color(primary);
		align-items: center;
		justify-content: center;
		padding: $spacing--lg $spacing--sm;
		font-size: 1.25rem;
		border-radius: $border-radius;

		&:hover, &:focus {
			text-decoration: underline !important;
			color: get-color(primary);
			background-color: darken(get-color(accent1), 5%);
		}//end &:hover
	}//end &--callout
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--sm;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}//end small down breakpoint

}//end .sl_button-group
