.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide &, .sl_card--article & {
			min-height: 225px;
			max-width: 420px;
			border-radius: $border-radius--img
		}//end .sl_card--deck &
	}//end &__image

	&__icon {
		width: 32px;
		height: 32px;

		@include breakpoint (small down) {
			margin-left: 32px;
		}//end small down breakpoint
		
	}//end &__icon

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide &, .sl_card--article & {
			padding: $spacing--sm 0 0 0;

			@include breakpoint (small down) {
				padding: $spacing--md $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
	}

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--duo {
		padding: 0;
	}//end &--duo

	&--testimonial {
		padding: $spacing--xxl 0 $spacing--xxl $spacing--xxl;

		@include breakpoint (medium only) {
			padding: $spacing--sm;
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--sm 0;
		}//end small down breakpoint
	}//end &--testimonial

	&--location {
		padding: 0;
	}//end &--location

	&--map {
		padding: 0;
	}//end &--map

	&--wysiwyg {
		padding: 0;
	}//end &--wysiwyg

	&--intro {
		padding: 0;
	}//end &--intro

	&--article {
		padding: 0;
	}

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
