.reveal-overlay {
}
.sl_reveal {

	.close-button {

	}//end .close-button

	&--video {

		.close-button {

		}//end .close-button
	}//end &--video


	.responsive-embed {
		margin-bottom: 0;

		iframe {
			border: none;
		}//end iframe
	}//end .responsive-embed
}//end .sl_reveal