body.blog, body.archive {
	background-color: get-color(accent2);
	.sl_content {
		&__body {
			padding: $spacing--lg 0;

			h1 {
				margin-bottom: $spacing--lg;
			}//end h1
			.sl_main {
				& > .sl_row {
					margin: 0 -$spacing--md/2;

					@include breakpoint (medium only) {
						margin: 0 -$spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						margin: 0 auto;
					}//end small down breakpoint

					& > .sl_cell {
						padding: 0 $spacing--md/2;
						margin-bottom: $spacing--lg;

						@include breakpoint (medium only) {
							padding: 0 $spacing--xs/2;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;

							&:not(:last-of-type) {
								margin-bottom: $spacing--lg;
							}//end &:not(:last-of-type);
						}//end small down breakpoint
					}//end .sl_cell
				}//end & > .sl_row
			}//end .sl_main
		}//end &__body
	}//end .sl_content
}//end body.blog