.sl_breadcrumbs {
	&__container {
		padding-top: $spacing--sm;
	}//end &__container

	li {
		margin-bottom: 0 !important;
		line-height: 1;

		&:not(:last-child) {
			&:after {
				font-family: "Font Awesome 5 Pro";
				font-weight: $font-weight--bold;
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			font-weight: $font-weight--medium;
		}//end a
	}//end li

	&__current {
		font-weight: $font-weight--medium;
	}//end &__current

}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}