//Default Page Template
body.page-template-default {
	background-color: get-color(accent2);

	.sl_content {
		.sl_intro {
			position: relative;
			background-color: get-color(accent1);

			p {
				font-size: 1.25rem;
			}//end p

			.sl_inner {
				max-width: none;
				padding: 0;
			}//end .sl_inner

			&__media {
				border-radius: 0;
				overflow: hidden;

				@include breakpoint (small down) {
					order: 1;
				}//end small down breakpoint

				&__container {
					position: relative;
					width: 100%;
					height: 100%;
					min-height: 375px;

					@include breakpoint (small down) {
						min-height: 200px;
					}//end small down breakpoint
				}//end &__container
			}//end &__media

			&__image {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}//end &__image

			&__content {
				padding: $spacing--md $spacing--lg $spacing--xl $spacing--xxl;
				max-width: $global-width/2;
				margin-left: auto;

				@include breakpoint (xlarge only) {
					padding-left: $spacing--xl;
				}//end xlarge only breakpoint

				@include breakpoint (large only) {
					padding-left: $spacing--lg;
				}//end xlarge only breakpoint

				@include breakpoint (medium down) {
					padding: $spacing--lg $spacing--md;
					margin: auto;
					max-width: none;
				}//end medium down breakpoint

				@include breakpoint (small down) {
					padding: $spacing--md $spacing--sm;
				}//end small down breakpoint
			}//end &__content

			p {
				font-size: 1.25rem;

				&:last-of-type {
					margin-bottom: $spacing--md;
				}//end &:last-of-type;

				&:last-child {
					margin-bottom: 0;
				}//end &:last-child
			}//end p

			@include breakpoint (small down) {
				h1 {
					margin-bottom: $spacing--xs;
				}//end h1
			}//end small down breakpoint
		}//.sl_intro

		&__intro {
			p {
				font-size: 1.25rem;
			}//end p
		}//end &__intro

		&__body {
			padding: $spacing--lg 0;

			&--narrow {
			}//end &--narrow
		}//end &__body

		&__sidebar {
			padding-left: $spacing--lg;

			@include breakpoint (large only) {
				padding-left: $spacing--sm;
			}//end large only breakpoint
		}//end &__sidebar

		&__global_cta {
			background-color: get-color(primary);
			overflow: hidden;
			position: relative;
			padding-bottom: $spacing--xxl;

			@include breakpoint (large only) {
				padding-bottom: $spacing--xl;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding-bottom: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding-bottom: $spacing--md;
			}//end small down breakpoint

			&:after {
				@include pseudo;
				right: 0;
				top: 0;
				bottom: 0;
				width: 660px;
				background-image: url(#{$path-img}backgrounds/Del-Amo-Icon.svg);
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				opacity: .1;
				transform-origin: center;
			}//end &:after

			.sl_inner {
			}//end .sl_inner

			& * {
				color: get-color(inverse);
			}//end & *

			h2 {
				font-size: 3rem;
				font-weight: $font-weight--bold;
				margin-bottom: 1rem;
			}//end h2

			p {
				font-family: $header-font-family;
				font-weight: $font-weight--medium;
				font-size: 1.5rem;
			}//end p

			.sl_button-group {
				justify-content: flex-start;
			}//ebd sl_button-group
		}//end &__global_cta

		.sl_location {
			padding-bottom: 0;
			padding-top: 0;
		}
	}//end .sl_content
}//end body.default
