// 1. Default Post Single
// 2. Staff Single
//------------------------------

// 1. DEFAULT POST SINGLE
.post-template-default {
	background-color: get-color(accent2);
	.sl_content {

		&__media {
			@include breakpoint (small down) {
			position: relative;
			min-height: 300px;
			}//end small down breakpoint

			&__container {
				position: relative;
				width: 100%;
				height: 100%;
				min-height: 300px;

				@include breakpoint (small down) {
					min-height: 250px;
				}//end small down breakpoint
			}//end &__container

			&--video {
				.sl_duo__image {
					display: flex;
					align-items: center;
					padding: 0 $spacing--sm;
					justify-content: center;

				}//end .sl_duo__image
			}//end &--video
		}//end &__media

		&__image {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			border-radius: $border-radius--img;
		}//end &__image

		&__content {
			display: flex;
			align-items: center;

			@include breakpoint (medium down) {
				flex: 0 0 auto;
				width: 100%;
				padding-bottom: $spacing--sm;
			}//end medium down breakpoint

			.sl_button-group {
				width: 100%;

				.sl_button {
					width: 100%;
					-ms-flex-negative: 1;
				}//end .sl_button
			}//end .sl_button-group
		}//end &__content

		&__header {
			padding: $spacing--lg 0;

			.sl_inner {
				max-width: 1200px;
			}

			.sl_card {
				padding: 0;
				padding-right: $spacing--lg;

				@include breakpoint (medium down) {
					padding-right: 0
				}//end medium down breakpoint
			}//end .sl_card
		}//end &__header

		&__body {


			.sl_inner {
				font-size: 1.25rem;
				max-width: 1200px;

				p, li {
					font-size: 1.25rem;

					@include breakpoint (small down) {
						font-size: $font-size--regular;
					}//end small down breakpoint
				}//end p

				img {
					@include breakpoint (small down) {
						width: 100%;
						height: auto;
					}//end small down breakpoint
				}//end img
				
				//Content Grid

				@include breakpoint (small down) {
					.sl_button--share {
						width: auto;
					}
				}//end small down breakpoint
				
				//FRN Plugin Table of Contents
				.frn_toc {
					max-width: 40%;
					padding: $spacing--md;
					margin-right: $spacing--md;
					margin-bottom: $spacing--sm;

					@include breakpoint (medium only) {
						float: left;
						padding: $spacing--sm;
						margin-right: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						max-width: 100%;
						display: block;
						padding: $spacing--sm;
						margin-right: 0;
					}//end small down breakpoint

					&_inner{
						margin: 0 !important;
						padding: 0 !important;

						h2 {
							font-size: 1.625rem;
							padding-bottom: 1rem;
							border-bottom: 1px solid get-color(default);
							margin-bottom: 1rem;
						}//end h2

						ul {
							list-style: none;
							margin: 0 0 0 $spacing--xs + rem-calc(13px);

							li {
								font-size: $font-size--regular;
								line-height: 1.6;
								margin-top: 0;
								margin-bottom: 1rem;

								@include breakpoint (medium only) {
									padding: 0;
									line-height: 1.25rem;
								}//end medium only breakpoint

								@include breakpoint (small down) {
									font-size: 1rem;
									line-height: 1.25;
								}//end small down breakpoint

								&:last-of-type {
									margin-bottom: 0;
								}//end &:last-of-type

								a {
									color: get-color(default);
								}//end a
							}//end li
						}//end ul
					}//end &_inner
				}//end .frn_toc
			}//end .sl_inner
		}//end &__body

		&__post {
			.sl_button {
				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end .sl_button
		}//end &__post
	}//end .sl_content
}//end .post-template-default

// 2. STAFF SINGLE
.single-sl_staff_cpts {
	background-color: get-color(accent2);
	.sl_content {
		&__body {
			padding: $spacing--lg 0;
			
			.sl_inner {

				.sl_staff__media {
					width: 355px;

					@include breakpoint (medium only) {
						width: 225px;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						width: 100%;
						max-width: 355px;
						margin: 0 auto;
					}//end small down breakpoint
				}//end .sl_staff__media

				.sl_staff__image {
					height: 400px;
					background-size: cover;
					background-position: center;

					@include breakpoint (medium only) {
						height: 300px;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						height: 400px;
					}//end small down breakpoint
				}//end &.sl_staff__image

				.sl_staff__content {
					padding-left: $spacing--lg;

					@include breakpoint (small down) {
						padding: $spacing--md 0 0 0;
						width: 100%;
					}//end small down breakpoint

					h3 {
						font-size: rem-calc(38px);
						margin-bottom: $spacing--xs/2;
					}//end h3

					h4 {
						color: get-color(accent2);
						font-size: rem-calc(26px);
					}//end h4
				}//end .sl_staff__content
			}//end .sl_inner
		}//end &__body
	}//end .sl_content
}//end .single-sl_staff_cpts