$site-palette: (
  primary:    #006E63,
  secondary:  #DB6015,
  default:    #141414,
  inverse:    #FFFFFF,
  accent1:    #E6F4F1,
  accent2:    #FCFFFC,
  accent3:    #003D37,
  alert:      #DB6015
);