{% if card_list.header %}
	<h3>{{card_list.header}}</h3>
{% endif %}

{% if card_list.list_repeater is not empty %}
	<ul class="{{card_list.list_class}}">
		{% for item in card_list.list_repeater %}
				<li>
					{% if item.item_url %}<a href="{{item.item_url}}">{% endif %}
					{{item.list_item}}
					{% if item.item_url %}</a>{% endif %}
				</li>
		{% endfor %}
	</ul>
{% endif %}