<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk6oIqyQucKtLXAaqatnovLFf6cVHI2_Q"></script>
<div class="sl_module__map">
    {# LOOP THROUGH ADDRESSES #}
    {% for map in option.address %}
    <div class="marker" data-lat="{{map.address.google_map.lat}}" data-lng="{{map.address.google_map.lng}}">
        <div class="sl_card sl_card--map">
            <h3>{{map.address.location_name}}</h3>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{map.address.street_address}}</span><br>
                <span itemprop="addressLocality">{{map.address.city}}, {{map.address.state}}</span> 
                <span itemprop="postalCode">{{map.address.zip_code}}</span><br>
            </p>
            <a class="sl_button sl_button--simple" href="https://www.google.com/maps/dir/?api=1&destination={{map.address.google_map.lat}},{{map.address.google_map.lng}}" target="_blank" rel="noreferrer">Directions</a>
        </div>
    </div>
    {% endfor %}
</div>
