{# Grid #}
<div class="sl_row {% if module.type_select == "Icon" %}sl_row--icon{% endif %} {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

	{# Loop through cards from the deck #}
	{% for card in this.deck %}
		<div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">

			{# ADD LINK WRAPPER TO CARD IF ACTIVE #}
			{% if card.link_wrapper == true %}
				<a href="{{card.link_url.url}}" class="sl_card__wrapper {% if card.card_image.image %}sl_card__wrapper--image{% endif %}">
			{% endif %}

				<div class="sl_card sl_card--deck {% if module.type_select == "Icon" %}sl_card--icon{% endif %}">

					{# CARD IMAGE #}
					{% if card.card_image.image %}

						{% if module.type_select == "Icon" %}
							<div class="sl_card__icon">
								{% include "card-image.twig" with { image : card.card_image.image } %}
							</div>
						{% else %}

						<div class="sl_card__image" style="background-image: url({{Image(card.card_image.image).src}})"></div>
						{% endif %}
					{% endif %}	
					

					{# CARD CONTENT - checks to see if card content exists to add content wrapper#}
					{% if card.card.pre_header or card.card.header or card.card.paragraph or card.card.buttons and card.deck_image %}
					<div class="sl_card__content">
					{% endif %}
					{# end checking for content #}
						
						{# PRE HEADER #}
						{% if card.card.pre_header %}
							<h5>{{ card.card.pre_header }}</h5>
						{% endif %}				
						
						{# HEADER #}
						{% if card.card.header %}
							<h3>{{ card.card.header }}</h3>
						{% endif %}	
						
						{# WYSIWYG #}
						{% if card.card.paragraph %}
							{% include "card-paragraph.twig" with { paragraph : card.card.paragraph } %}
						{% endif %}	
						
						{# BUTTONS #}
						{% if card.card.buttons %}
							{% include "card-button.twig" with { card : card.card } %}
						{% endif %}
					
					{# Checks to see if card content exists to add closing div#}
					{% if card.card.pre_header or card.card.header or card.card.paragraph or card.card.buttons %}
					</div>{# /.sl_card__content #}
					{% endif %}
					{# end checking for content #}

				</div>{# /.sl_card #}

			{% if card.link_wrapper == true %}
				</a>{# /.sl_card__wrapper #}
			{% endif %}

		</div>{# /.cell #}
	{% endfor %}

</div>{# /.grid-x #}