 <div class="sl_duo">
 	<div class="sl_row">
		
		{# DUO CONTENT #}
		<div class="sl_duo__content sl_cell large-6 medium-12 small-12">
			<div class="sl_duo__card sl_card sl_card--duo">
				
				{# PARAGRAPH #}
				{% if module.duo_content %}
					{% include "card-paragraph.twig" with { paragraph : module.duo_content } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.buttons %}
					{% include "card-button.twig" with { card : module } %}
				{% endif %}

			</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
		</div>{# /.sl_duo__content.sl_cell.auto #}

		{# DUO MEDIA #}
 		<div class="sl_duo__media sl_cell large-6 medium-12 small-12">
 			<div class="sl_duo__media__container">
 				<div class="sl_duo__image" style="background-image: url({{Image(module.duo_image).src}})">
				</div>{# /.sl_duo__image #}
 			</div>{# /.sl_duo__media__container #}

 		</div>{# /.sl_duo__media #}
 	</div>{# /.sl_row #}
 </div>