{# Grid #}
	<div class="sl_row {% if module.type_select == "Icon" %}sl_row--icon{% endif %} {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

		{# Else, Loop through cards from the deck #}
		{% for card in module.deck %}
			<div class="sl_cell {% if card.class %}sl_deck__{{ card.class }}{% endif %} {% include "grid-classes.twig" with { "cell_type" : "wildcard" } %}">
      			
				{# ADD LINK WRAPPER TO CARD IF ACTIVE #}
				{% if card.link_wrapper == true %}
					<a id="{{this.acf_fc_layout}}{{post.id}}{{loop.parent.loop.index}}{{loop.index}}" href="{{card.link_url.url}}" target="{{card.link_url.target}}" class="sl_card__wrapper {% if card.card_image.image %}sl_card__wrapper--image{% endif %}">
				{% endif %}

					<div class="sl_card sl_card--deck {% if card.class %}sl_card--{{ card.class }}{% endif %}">

						{# CARD IMAGE #}
						{% if card.card_image.image %}
							<div class="sl_card__image" style="background-image: url({{Image(card.card_image.image).src}})"></div>
						{% endif %}	
						

						{# CARD CONTENT - checks to see if card content exists to add content wrapper#}
						{% if card.card.pre_header or card.card.header or card.card.paragraph or card.card.buttons and card.deck_image %}
						<div class="sl_card__content">
						{% endif %}
						{# end checking for content #}
							
							{# PRE HEADER #}
							{% if card.card.pre_header %}
								<h5>{{ card.card.pre_header }}</h5>
							{% endif %}				
							
							{# HEADER #}
							{% if card.card.header %}
								<h3>{{ card.card.header }}</h3>
							{% endif %}	
							
							{# WYSIWYG #}
							{% if card.card.paragraph %}
								{% include "card-paragraph.twig" with { paragraph : card.card.paragraph } %}
							{% endif %}	
							
							{# BUTTONS #}
							{% if card.card.buttons %}
								{% include "card-button.twig" with { card : card.card } %}
							{% endif %}
						
						{# Checks to see if card content exists to add closing div#}
						{% if card.card.pre_header or card.card.header or card.card.paragraph or card.card.buttons %}
						</div>{# /.sl_card__content #}
						{% endif %}
						{# end checking for content #}

					</div>{# /.sl_card #}

				{% if card.link_wrapper == true %}
					</a>{# /.sl_card__wrapper #}
				{% endif %}

			</div>{# /.sl_cell #}
		{% endfor %}

	</div>{# /.sl_row #}