{% extends "index.twig" %}

{% block content %}
  <article class="sl_content__inner">
	<section class="sl_content__body">
		<div class="sl_inner">
			<div class="sl_row">
				<div class="sl_cell sl_content__main">
					<main id="main" class="sl_main">
						<h2>Articles</h2>
						<div class="sl_row large-up-3 medium-up-1">

						{% for card in posts %}
							<div class="sl_cell">
								<div class="sl_card sl_card--article">

									{# CARD IMAGE #}
									<div class="sl_card__image" style="background-image: url({{card.thumbnail.src()}})"></div>
									
									{# CARD CONTENT #}
									<div class="sl_card__content">
										<h3>{{ card.title|truncate(12) }}</h3>

										<p>{{ card.preview.length(25).end(' ...').read_more(false).force }}</p>

										<a class="sl_button sl_button--simple" href="/{{card.slug}}/">Read Article</a>
									</div>{# /.sl_card__content #}

								</div>{# /.sl_card #}
							</div>{# /.sl_cell #}
						{% endfor %}
				</div>{# /.sl_row #}

						{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 1}) } %}

					</main>{# /.sl_main #}
				</div>{# /.sl_cell.sl_content__main #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content__body #}
</article>{# /.sl_content__inner #}
{% endblock %}