{% extends "base.twig" %}


{% block content %}

  <article class="sl_content__inner">
  		{# Breadcrumbs #}
			{% if post.thumbnail == null %}
			<div class="sl_breadcrumbs__container">
				<div class="sl_inner">
				{{ function('get_breadcrumb') }}
				</div>{# /.sl_inner #}
			</div>{# /.sl_breadcrumbs__container #}
			{% endif %}
	<section class="sl_content__body">
		<div class="sl_inner">
					<main id="main" class="sl_main">
						<h1>Articles</h1>
						<div class="sl_row large-up-3 medium-up-1">

						{% for card in posts %}
							<div class="sl_cell">
								<div class="sl_card sl_card--article">

									{# CARD IMAGE #}
									<div class="sl_card__image" style="background-image: url({{card.thumbnail.src()}})"></div>
									
									{# CARD CONTENT #}
									<div class="sl_card__content">
										<h3>{{ card.title|truncate(12) }}</h3>

										<p>{{ card.preview.length(25).end(' ...').read_more(false).force }}</p>

										<a class="sl_button sl_button--simple" href="/{{card.slug}}/">Read Article</a>
									</div>{# /.sl_card__content #}

								</div>{# /.sl_card #}
							</div>{# /.sl_cell #}
						{% endfor %}
				</div>{# /.sl_row #}

						{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 1}) } %}
					</main>{# /.sl_main #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content__body #}
</article>{# /.sl_content__inner #}
{% endblock %}