{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

	{# ARTICLE HEADER #}
	<div class="sl_content__header">
		<div class="sl_inner">
			<div class="sl_row">

				{# ARTICLE HEADER CONTENT #}
				<div class="sl_cell {% if post.thumbnail %}large-6{% else %}large-8{% endif %} sl_content__content">
					<div class="sl_card">

						<h3 class="sl_content__category">Posted in: <span>{{ post.terms('category')|join(', ') }}</span></h3>
						<h1 class="sl_content__title">{{ post.title }}</h1>
						{% if post.author_name %}
							<p class="sl_content__author">Written By: {{ post.author_name }}</p>
						{% endif %}
						<div class="sl_divider"></div>
						<p class="sl_content__date">{{ post.date }}</p>
					</div>{# /.sl_card #}
				</div>{# /.sl_duo__content #}

				{# ARTICLE HEADER IMAGE #}
				{% if post.thumbnail %}
				<div class="sl_cell large-6 sl_content__media">
					<div class="sl_content__media__container">
							<div class="sl_content__image" style="background-image: url({{ post.thumbnail.src() }}"></div>{# /.sl_duo__image #}
						</div>{# /.sl_duo__media__container #}
				</div>{# /.sl_duo__media #}
				{% endif %}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</div>{# /.sl_post__header #}
	

	<section class="sl_content__body">
		<div class="sl_inner">
			<div id="main" class="sl_content__post">
				{{post.content}}
			</div>{# /.sl_post__content #}
		</div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}
