{% extends "module.twig" %}
{% block card %}
{% if option.address != empty %}
    <div class="sl_row">
        {# DUO CONTENT #}
        <div class="sl_location__content sl_cell large-6">
            <div class="sl_location__card sl_card sl_card--location">
                {# PRE HEADER #}    
                {% if module.card.pre_header %}
                    <h5>{{ module.card.pre_header }}</h5>
                {% endif %}

                {# HEADER  #}
                {% if module.card.header %} 
                    {% if loop.first %}
                    <h1>{{ module.card.header }}</h1>
                    {% else %}
                    <h2>{{ module.card.header }}</h2>
                    {% endif %}
                {% endif %}
                
                {# PARAGRAPH #}
                {% if module.card.paragraph %}
                    {% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
                {% endif %}
                
                {# BUTTONS #}
                {% if module.card.buttons %}
                    {% include "card-button.twig" with { card : module.card } %}
                {% endif %}
            </div>{# /.sl_location__card #}
        </div>{# /.sl_location__content #}
        {# DUO MEDIA #}
        <div class="sl_location__map sl_cell large-6">
            {# GOOGLE MAP #}
                {% include 'card-google-map.twig' %}
        </div>{# /.sl_location__map #}
    </div>{# /.sl_row #}
{% endif %} 
{% endblock %}