{% extends "module.twig" %}

{% block card %}

    {% if module.header %}
    <h2>{{module.header}}</h2>
    {% endif %}

    <div  class="sl_testimonial__slider">
    {% for item in this.testimonials %}

        <div class="sl_row">

            {# TESTIMONIAL MEDIA #}
            <div class="sl_testimonial__media sl_cell">
                <img src="{{Image(item.image).src}})" alt="{Image(item.image).alt}})">
            </div>{# /.sl_testimonial__media #}
            
            {# TESTIOMNIAL CONTENT #}
            <div class="sl_testimonial__content sl_cell large-auto medium-auto small-12">
                <div class="sl_testimonial__card sl_card sl_card--testimonial">


                    {# QUOTE  #}
                    {% if item.quote %} 
                        {{ item.quote|wpautop }}
                    {% endif %}

                    {% if item.cite %}
                        <span>{{ item.cite }}</span>
                    {% endif %}
                    

                </div>{# /.sl_testimonial__card.sl_card.sl_card--testimonial #}
            </div>{# /.sl_testimonial__content.sl_cell.auto #}
        </div>{# /.sl_row #}
    {% endfor %}
    </div>


{% endblock %}