{% extends "module.twig" %}

{% block card %}
{# Adds a content section to the card block #}
<div class="sl_card sl_card--wysiwyg">
    {% include "card-wysiwyg.twig" with { wysiwyg : module.content } %}
</div>

{% endblock %}