{% extends "module.twig" %}

{% block card %}
	
	{% if module.header %}
	<h2>{{module.header}}</h2>
	{% endif %}
	
	{# Grid #}
	<div class="sl_row large-up-3 medium-up-1">

			{% for card in blog %}
				<div class="sl_cell">
					<div class="sl_card sl_card--article">

						{# CARD IMAGE #}
						<div class="sl_card__image" style="background-image: url({{card.thumbnail.src()}})"></div>
						
						{# CARD CONTENT #}
						<div class="sl_card__content">
							<h3>{{ card.title|truncate(12) }}</h3>

							<p>{{ card.preview.length(25).end(' ...').read_more(false).force }}</p>

							<a class="sl_button sl_button--simple" href="/{{card.slug}}/">Read Article</a>
						</div>{# /.sl_card__content #}

					</div>{# /.sl_card #}
				</div>{# /.sl_cell #}
			{% endfor %}
	</div>{# /.sl_row #}

	{% if module.button %}
		<div class="sl_latest_release__button">
			<a class="sl_button" href="{{module.button.url}}" target="{{module.button.target}}">{{ module.button.title }}</a>
		</div>{# /.sl_deck__button #}
	{% endif %}

{% endblock %}
