{% extends "module.twig" %}

{% block card %}

	{# BREADCRUMB #}
	{% if module.breadcrumbs == 1 %}
		<div class="hide-for-large">
		{{ function('get_breadcrumb') }}
		</div>
	{% endif %}
	{# END BREADCRUMB #}
	
	{# Includes card components #}
 	<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}" {% if module.media == "gallery" %}data-equalizer data-equalize-on="medium"{% endif %}>

		{# DUO MEDIA #}
 		<div class="sl_duo__media sl_cell {% if module.media == "gallery" %}sl_duo__media--gallery{% endif %} {% if module.media == "video" %}sl_duo__media--video{% endif %} {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">

 			{% if module.media == "gallery" %}
 			<div class="sl_duo__gallery">
 				{% for image in module.gallery %}
 						<div><img data-equalizer-watch src="{{image.url}}"></div>
 				{% endfor %}
 			</div>

 			{% else %}
 			<div class="sl_duo__media__container">
 				<div class="sl_duo__image" style="background-image: url({{Image(module.duo_image).src}})">

	 			{# Check for Video Button #}
	 			{% if module.media == "video" %}
	 				<a class="sl_button sl_button--video" data-open="sl_duovideo--{{loop.index}}"></a>
	 			{% endif %}

				</div>{# /.sl_duo__image #}
 			</div>{# /.sl_duo__media__container #}

 			{% endif %}
 		</div>{# /.sl_duo__media #}
		
		{# DUO CONTENT #}
		<div class="sl_duo__content sl_cell {% if module.media == "gallery" %}sl_duo__content--gallery{% endif %}{% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}" {% if module.media == "gallery" %} data-equalizer-watch {% endif %}>
			<div class="sl_duo__card sl_card sl_card--duo">

				{# BREADCRUMB #}
				{% if module.breadcrumbs == 1 %}
					<div class="show-for-large">
					{{ function('get_breadcrumb') }}
					</div>
				{% endif %}
				{# END BREADCRUMB #}

				{# PRE HEADER #}	
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}

				{# HEADER  #}
				{% if module.card.header %} 
					{% if loop.first %}
					<h1>{{ module.card.header }}</h1>
					{% else %}
					<h2>{{ module.card.header }}</h2>
					{% endif %}
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}

			</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
		</div>{# /.sl_duo__content.sl_cell.auto #}
 	</div>{# /.sl_row #}
	
	{# VIDEO MODAL #}
	{% if module.media == "video" %}
	 	<div class="reveal sl_reveal sl_reveal--video" id="sl_duovideo--{{loop.index}}" data-reveal data-reset-on-close="true">
			<div class="responsive-embed widescreen">
				{{ function('do_shortcode', module.video_embed)}}
	    	</div>
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	            <span class="fa fa-times"></span>
	        </button>
		</div>{# reveal.video #}
	{% endif %}

{% endblock %}