{% extends "module.twig" %}

{% block card %}

{% if module.header %}
  <h2>{{module.header}}</h2>
{% endif %}

<ul class="tabs sl_tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs" data-multi-expand="true" data-allow-all-closed="true" id="sl_module-tabs{{loop.index}}">
  {% for tab in this.tabs %}

    <li class="tabs-title sl_tabs__title {% if loop.first %}is-active{% endif %}" role="presentation"><a href="#tabpanel{{loop.index}}" role="tab" aria-controls="tabpanel{{loop.index}}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}" id="tabpanel{{loop.index}}-label">{{tab.title}}</a></li>

  {% endfor %}
</ul>

<div class="tabs-content sl_tabs__content" data-tabs-content="sl_module-tabs{{loop.index}}">

{% for tab in this.tabs %}

    
    <div class="tabs-panel sl_tabs__panel {% if loop.first %}is-active{% endif %}" id="tabpanel{{loop.index}}" role="tabpanel" aria-hidden="{% if loop.first %}false{% else %}true{% endif %}" aria-labelledby="tabpanel{{loop.index}}-label">

        {# Runs conditional logic to add pieces for each card. #}
        {% for item in tab.pieces %}
          
          {# PARAGRAPH #}
          {% if item.acf_fc_layout == "wysiwyg" %}
            {% include "card-wysiwyg.twig" with { wysiwyg : item.paragraph } %}
          {% endif %}

          {# DUO #}
          {% if item.acf_fc_layout == "duo" %}
            {% include "tabs-duo.twig" with { module : item } %}
          {% endif %}

          {# DECK #}  
          {% if item.acf_fc_layout == "deck" %}
            {% include "tabs-deck.twig" with { module : item } %}
          {% endif %}


        {% endfor %}
    </div>{# /.tabs-panel  #}

{% endfor %}

</div>
    
{% endblock %}