{% if option.address %}
	<div class="sl_row sl_footer__address">

		{# LOOP THROUGH ADDRESSES #}
		{% for address in option.address %}
		{% if loop.first %}
		<div class="sl_cell">
			<a href="https://www.google.com/maps/place/{{address.address.street_address}}, {{address.address.city}}, {{address.address.state}} {{address.address.zip_code}}" target="_blank" rel="noreferrer">
			<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				{% if address.address.location_name %}{{ address.address.location_name }}<br>{% endif %}
			    <span itemprop="streetAddress">{{address.address.street_address}}</span><br>
			    <span itemprop="addressLocality">{{address.address.city}}, {{address.address.state}}</span> 
			    <span itemprop="postalCode">{{address.address.zip_code}}</span><br>
			</p>
			</a>
            <a class="sl_phone" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
		</div>{# /.sl_cell #}
		{% endif %}
		{% endfor %}

	</div>{# /.sl_row sl_footer__address #}
{% endif %} 