.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);

		& > h2 {
			display: inline-block;
			margin-right: $spacing--sm;
			margin-bottom: $spacing--lg;

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}

		& > .sl_button {
			margin-bottom: $spacing--sm;
		}

		.sl_cell {
			padding: 0 $spacing--md/2;

			@include breakpoint (small down) {
				padding: 0;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_cell
	}//end .sl_inner
}//end .sl_deck