.sl_duo {
	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		@include breakpoint (small down) {
		position: relative;
		min-height: 300px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 250px;
			}//end small down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: $border-radius--img;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;
		padding-left: $spacing--lg;

		@include breakpoint (medium down) {
			flex: 0 0 auto;
			width: 100%;
			padding: $spacing--md $spacing--sm;
		}//end medium down breakpoint

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}//end .sl_button
		}//end .sl_button-group
	}//end &__content

	.sl_breadcrumbs {
		@include breakpoint (medium down) {
			margin-bottom: 0;
			padding: $spacing--xs $spacing--sm;
		}//end medium down breakpoint
	}

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
			padding-right: $spacing--lg;
			padding-left: 0;
		}//end .sl_duo__content

		@include breakpoint (medium down) {
			.sl_duo__media {
				order: 1;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 2;
				padding: $spacing--md $spacing--sm;
			}//end .sl_duo__content
		}//end medium down breakpoint
	}//end &--right

	&--intro {
		padding: 0 !important;
		background-color: get-color(accent1);

		& > .sl_inner {
			max-width: none;
			padding: 0;
		}

		.sl_duo__image {
			border-radius: 0;
		}//end &__image

		.sl_duo__content {
			padding-bottom: $spacing--xl;
			padding-top: $spacing--md;
			padding-left: $spacing--xxl;
			max-width: $global-width/2;
			margin-left: auto;

			@include breakpoint (xlarge only) {
				padding-left: $spacing--xl;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding-left: $spacing--lg;
			}//end xlarge only breakpoint

			@include breakpoint (medium down) {
				padding: $spacing--lg $spacing--md;
				margin: auto;
				max-width: none;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md $spacing--sm;
			}//end small down breakpoint
		}
	}//end &--intro
}//.sl_duo