.sl_latest_release {
	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
		& > h2 {
			text-align: center;
			margin-bottom: $spacing--lg;

			@include breakpoint (small down) {
				padding: 0 $spacing--xs;
			}//end small down breakpoint
		}//end & > h2
	}//end .sl_inner

	&__button {
		text-align: center;
		padding-top: $spacing--md;
	}//end &__button

	.sl_row {
		margin: 0 -$spacing--md/2;

		@include breakpoint (medium only) {
			margin: 0 -$spacing--xs/2;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		& > .sl_cell {
			padding: 0 $spacing--md/2;
			margin-bottom: $spacing--lg;

			@include breakpoint (medium only) {
				padding: 0 $spacing--xs/2;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;

				&:not(:last-of-type) {
					margin-bottom: $spacing--lg;
				}//end &:not(:last-of-type);
			}//end small down breakpoint
		}//end .sl_cell

		@include breakpoint (medium only) {
			&.medium-up-1 {
				& > .sl_cell {
					margin-bottom: $spacing--sm;
				}//end & > .sl_cell
			}//end &.medium-up-1
		}//end medium only breakpoint
	}//end .sl_row
}//end .sl_latest_release