.sl_location {
	& > .sl_inner {
		max-width: none;
		padding: 0;
		& > .sl_row {
			background-color: get-color(accent1);
		}//end & > .sl_row
	}//end & > .sl_inner

	&__content {
		padding-bottom: $spacing--xl;
		padding-top: $spacing--xl;
		padding-left: $spacing--xxl;
		max-width: $global-width/2;
		margin-left: auto;

		@include breakpoint (xlarge only) {
			padding-left: $spacing--xl;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding-left: $spacing--lg;
		}//end xlarge only breakpoint

		@include breakpoint (medium down) {
			padding: $spacing--lg $spacing--md;
			margin: auto;
			max-width: none;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint
	}

	.sl_module__map {
		height: 100%;

		@include breakpoint (small down) {
			min-height: 350px;
		}//end small down breakpoint
	}//end .sl_module__map

	@include breakpoint (small down) {
		.sl_button--simple {
			background-color: get-color(secondary);
			border-radius: $border-radius--pill;
			box-shadow: $shadow;
			color: get-color(inverse);
			padding: $spacing--xs $spacing--sm;

			&:after {
				display: none;
			}//end &:after
		}//end .sl_button--simple

		&__card {
			text-align: center;
		}//end &__card
	}//end small down breakpoint
	
}//end .sl_location