.sl_spotlight {
	background-color: get-color(primary);
	overflow: hidden;
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint

	&:after {
		@include pseudo;
		right: 0;
		top: 0;
		bottom: 0;
		width: 660px;
		background-image: url(#{$path-img}backgrounds/Del-Amo-Icon.svg);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .1;
		transform-origin: center;
	}//end &:after

	.sl_inner {
	}//end .sl_inner

	& * {
		color: get-color(inverse);
	}//end & *

	h2 {
		font-size: 3rem;
		font-weight: $font-weight--bold;
		margin-bottom: 1rem;
	}//end h2

	p {
		font-family: $header-font-family;
		font-weight: $font-weight--medium;
		font-size: 1.5rem;
	}//end p

	.sl_button-group {
		justify-content: flex-start;
	}//ebd sl_button-group
}//end .sl_spotlight