.sl_tabs_module {
	.sl_inner {

		& > h2 {
			text-align: center;
			margin-bottom: $spacing--lg;
		}//end & > h2
	}//end .sl_inner

	//DUO
	.sl_duo {
		&__content {
			padding-left: 0;
			padding-right: $spacing--lg;

			@include breakpoint (medium only) {
				padding-right: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding-right: 0;
			}//end small down breakpoint
		}//end &__content
	}//end .sl_duo
}//end .sl_tabs_module