.sl_testimonial {

	& > .sl_inner {
		& > h2 {
			text-align: center;
			margin-bottom: $spacing--lg;
		}//end & > h2
	}//end & > .sl_inner

	.slick-slide {
		display: flex !important;
		padding: 0 $spacing--xxl + rem-calc(48px);
		align-items: center;

		@include breakpoint (medium only) {
			padding: 0 $spacing--xs + rem-calc(48px);
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0 $spacing--xs;
		}//end small down breakpoint
	}//end .slick-slide

	&__media {
		position: relative;
		width: 325px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint (medium only) {
			width: 250px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			width: 100%;
		}//end small down breakpoint

		img {
			border-radius: $border-radius 0 $border-radius 0;
			width: 100%;
		}
	}//end &__media

	&__content {
		display: flex;
		align-items: center;

		p {
			font-size: 1.5rem;
			font-family: $header-font-family;
			font-weight: $font-weight--medium;
			color: get-color(primary);

			@include breakpoint (medium down) {
				font-size: 1.25rem;
			}//end medium down breakpoint
		}//end p

		span {
			font-size: 1.125rem;
			display: inline-block;
			font-family: $header-font-family;
			color: get-color(accent3);
		}

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}//end .sl_button
		}//end .sl_button-group
	}//end &__content

	&__arrows {
    	position: absolute;
    	font-size: 1.5rem;
    	z-index: 1;
    	top: calc(50% - 18.5px);
    	cursor: pointer;
    	width: 48px;
    	height: 48px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	border-radius: $border-radius--circle;
    	color: get-color(primary);
    	border: 1px solid get-color(accent3);
    	@include transition (all .2s ease-in-out);

    	@include breakpoint (small down) {
    		width: 32px;
    		height: 32px;
    		font-size: 1.25rem;
    	}//end small down breakpoint

    	&:hover {
    		background-color: get-color(accent3);
    		color: get-color(inverse);
    		@include transition (all .2s ease-in-out);
    	}//end &:hover
    }//end &__arrows

    &__prev {
    	left: 0;

    	&:before {
    		margin-right: 4px;
    	}
    }//end prev

    &__next {
    	right: 0;

    	&:before {
    		margin-left: 4px;
    	}
    }//end &__next

	.slick-dots {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: 0;
	    z-index: 1;
	    text-align: center;

	    li {
	        position: relative;
	        display: inline-block;
	        width: 16px;
	        height: 16px;
	        margin: 0 5px;
	        cursor: pointer;
	        margin-bottom: 0 !important;

	        @include breakpoint (small only) {
	            margin: 0 4px;
	            width: 12px;
	            height: 12px;
	        }//end small only breakpoint

	        &.slick-active {
	            button {
	                background-color: get-color(primary);
	                border: 1px solid get-color(primary);
	            }//end button
	        }//end &.slick-active

	        button {
	            background-color: transparent;
	            border-radius: 50%;
	            font-size: 0;
	            line-height: 0;
	            display: block;
	            width: 16px;
	            height: 16px;
	            cursor: pointer;
	            border: 1px solid rgba(get-color(primary),.5);

	            @include breakpoint (small only) {
	                width: 12px;
	                height: 12px;
	                border-width: 1px;
	            }//end small only breakpoint
	        }//end button
	    }//end li
	}//end .slick-dots
}//end .sl_carousel
